html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.container {
  width: 30rem;
  height: 30rem;
  border: 2px solid black;

  display: flex;
  flex-wrap: wrap;
}

.pixel {
  outline: 0.25px solid black;
}